In [1]:
import numpy as np
import pandas as pd
import joblib

In [7]:
df_test = pd.read_csv('ML_Artivatic_dataset/test_indessa.csv')

In [3]:
df_test.isnull().sum()

member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
batch_enrolled                  45599
int_rate                            0
grade                               0
sub_grade                           0
emp_title                       20629
emp_length                      17934
home_ownership                      0
annual_inc                          1
verification_status                 0
pymnt_plan                          0
desc                           304770
purpose                             0
title                              62
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                        13
inq_last_6mths                     13
mths_since_last_delinq         181758
mths_since_last_record         300021
open_acc                           13
pub_rec                            13
revol_bal                           0
revol_util                        215
total_acc                          13
initial_list_status                 0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
collections_12_mths_ex_med         50
mths_since_last_major_derog    266228
application_type                    0
verification_status_joint      354745
last_week_pay                       0
acc_now_delinq                     13
tot_coll_amt                    28272
tot_cur_bal                     28272
total_rev_hi_lim                28272
dtype: int64

In [9]:
df_test['emp_length'].replace(to_replace='n/a',value='0',inplace=True)
df_test['emp_length'].replace(to_replace='year',value= "",inplace=True)
df_test['emp_length'].replace(to_replace='s',value= "",inplace=True)
df_test['emp_length'].replace(to_replace='+',value= "",inplace=True)
df_test['emp_length'].replace(to_replace='<',value= "",inplace=True)
df_test['emp_length'].replace(to_replace='>',value= "",inplace=True)
df_test['emp_length'].replace(to_replace=' ',value= "",inplace=True)

df_test['emp_length']=pd.to_numeric(df_test['emp_length'],errors='coerce')
df_test['emp_length'].value_counts()

2.0    31594
3.0    27851
1.0    22893
5.0    22311
4.0    20948
7.0    17914
8.0    17512
6.0    17209
9.0    13969
Name: emp_length, dtype: int64

In [10]:
df_test['term'].replace(to_replace='months',value='', regex=True,inplace=True)
df_test['term'].replace(to_replace=' ',value="", regex=True,inplace=True) 
df_test['term']=pd.to_numeric(df_test['term'],errors='coerce')
df_test['term'].value_counts()

36    248332
60    106619
Name: term, dtype: int64

In [11]:
df_test['sub_grade'].replace(to_replace='A', value='0', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='B', value='1', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='C', value='2', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='D', value='3', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='E', value='4', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='F', value='5', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='G', value='6', regex=True, inplace=True) 

df_test['sub_grade'] = pd.to_numeric(df_test['sub_grade'], errors='coerce')

In [12]:
df_test['last_week_pay'].replace(to_replace='th week', value='', regex=True, inplace=True)
df_test['last_week_pay'].replace(to_replace='NA', value='', regex=True, inplace=True)

df_test['last_week_pay'] = pd.to_numeric(df_test['last_week_pay'], errors='coerce')

In [13]:
df_test_cat=df_test.dtypes[df_test.dtypes == object]
df_test_num=df_test.dtypes[df_test.dtypes != object].index.values

In [14]:
percent_missing = df_test.isnull().sum() * 100 / len(df_test)
missing_value_df = pd.DataFrame({'column_name': df_test.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)
missing_value_df

                                             column_name  percent_missing
member_id                                      member_id         0.000000
addr_state                                    addr_state         0.000000
zip_code                                        zip_code         0.000000
total_rec_late_fee                    total_rec_late_fee         0.000000
purpose                                          purpose         0.000000
recoveries                                    recoveries         0.000000
pymnt_plan                                    pymnt_plan         0.000000
verification_status                  verification_status         0.000000
revol_bal                                      revol_bal         0.000000
home_ownership                            home_ownership         0.000000
collection_recovery_fee          collection_recovery_fee         0.000000
application_type                        application_type         0.000000
sub_grade                                      sub_grade         0.000000
grade                                              grade         0.000000
int_rate                                        int_rate         0.000000
initial_list_status                  initial_list_status         0.000000
term                                                term         0.000000
funded_amnt_inv                          funded_amnt_inv         0.000000
funded_amnt                                  funded_amnt         0.000000
loan_amnt                                      loan_amnt         0.000000
dti                                                  dti         0.000000
total_rec_int                              total_rec_int         0.000000
annual_inc                                    annual_inc         0.000282
total_acc                                      total_acc         0.003662
acc_now_delinq                            acc_now_delinq         0.003662
pub_rec                                          pub_rec         0.003662
delinq_2yrs                                  delinq_2yrs         0.003662
inq_last_6mths                            inq_last_6mths         0.003662
open_acc                                        open_acc         0.003662
collections_12_mths_ex_med    collections_12_mths_ex_med         0.014086
title                                              title         0.017467
revol_util                                    revol_util         0.060572
last_week_pay                              last_week_pay         1.984781
emp_title                                      emp_title         5.811788
tot_coll_amt                                tot_coll_amt         7.965043
total_rev_hi_lim                        total_rev_hi_lim         7.965043
tot_cur_bal                                  tot_cur_bal         7.965043
batch_enrolled                            batch_enrolled        12.846562
emp_length                                    emp_length        45.851399
mths_since_last_delinq            mths_since_last_delinq        51.206505
mths_since_last_major_derog  mths_since_last_major_derog        75.004156
mths_since_last_record            mths_since_last_record        84.524625
desc                                                desc        85.862556
verification_status_joint      verification_status_joint        99.941964

In [15]:
temp_memberid=df_test['member_id']
temp_memberid

0         11937648
1         38983318
2         27999917
3         61514932
4         59622821
            ...
354946    19145105
354947    46304777
354948      903745
354949    53032475
354950      994245
Name: member_id, Length: 354951, dtype: int64

In [16]:
df_test.drop(['member_id','desc', 'zip_code', 'emp_title', 'title', 'batch_enrolled','mths_since_last_delinq','mths_since_last_major_derog', 'mths_since_last_record', 'verification_status_joint'], axis=1, inplace=True)

In [17]:
databefore_enc=df_test.copy()

In [18]:
cols_for_onehot_encoding=['grade','home_ownership','verification_status','pymnt_plan','purpose','addr_state','initial_list_status','application_type']
df11=pd.get_dummies(df_test[cols_for_onehot_encoding],drop_first=True)
df_num= df_test.drop(cols_for_onehot_encoding,axis=1)

In [21]:
final_data= pd.concat([df_num, df11], sort=False,axis=1)
#final_data
final_data.shape

(354951, 104)

In [22]:
#final_data.head(5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,sub_grade,emp_length,annual_inc,dti,delinq_2yrs,...,addr_state_TX,addr_state_UT,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,initial_list_status_w,application_type_JOINT
0,14000,14000,14000.0,60,16.24,25,4.0,73500.0,28.65,1.0,...,0,0,0,0,0,0,0,0,0,0
1,16000,16000,16000.0,60,9.49,12,5.0,105000.0,31.19,0.0,...,0,0,0,0,0,0,0,0,1,0
2,11050,11050,11050.0,60,15.61,31,NaN,62300.0,21.73,1.0,...,0,0,0,0,0,0,0,0,1,0
3,35000,35000,34700.0,60,12.69,22,NaN,150000.0,17.27,0.0,...,0,0,0,0,0,0,0,0,0,0
4,6500,6500,6500.0,36,6.89,3,5.0,52000.0,20.19,0.0,...,0,0,0,0,0,0,0,0,1,0

In [36]:
'''
# Get missing columns in the training test
missing_cols = set( X_train.columns ) - set( X_test.columns )
# Add a missing column in test set with default value equal to 0
for c in missing_cols:
    X_test[c] = 0
# Ensure the order of column in the test set is in the same order than in train set
X_test = X_test[X_train.columns]

'''
#final_data['home_ownership_MORTGAGE']=0
#final_data = final_data.loc[:,~final_data.columns.duplicated()]
list(final_data)

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'sub_grade',
 'emp_length',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'collections_12_mths_ex_med',
 'last_week_pay',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'home_ownership_NONE',
 'home_ownership_OTHER',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'verification_status_Source Verified',
 'verification_status_Verified',
 'pymnt_plan_y',
 'purpose_credit_card',
 'purpose_debt_consolidation',
 'purpose_educational',
 'purpose_home_improvement',
 'purpose_house',
 'purpose_major_purchase',
 'purpose_medical',
 'purpose_moving',
 'purpose_other',
 'purpose_renewable_energy',
 'purpose_small_business',
 'purpose_vacation',
 'purpose_wedding',
 'addr_state_AL',
 'addr_state_AR',
 'addr_state_AZ',
 'addr_state_CA',
 'addr_state_CO',
 'addr_state_CT',
 'addr_state_DC',
 'addr_state_DE',
 'addr_state_FL',
 'addr_state_GA',
 'addr_state_HI',
 'addr_state_IA',
 'addr_state_ID',
 'addr_state_IL',
 'addr_state_IN',
 'addr_state_KS',
 'addr_state_KY',
 'addr_state_LA',
 'addr_state_MA',
 'addr_state_MD',
 'addr_state_ME',
 'addr_state_MI',
 'addr_state_MN',
 'addr_state_MO',
 'addr_state_MS',
 'addr_state_MT',
 'addr_state_NC',
 'addr_state_ND',
 'addr_state_NE',
 'addr_state_NH',
 'addr_state_NJ',
 'addr_state_NM',
 'addr_state_NV',
 'addr_state_NY',
 'addr_state_OH',
 'addr_state_OK',
 'addr_state_OR',
 'addr_state_PA',
 'addr_state_RI',
 'addr_state_SC',
 'addr_state_SD',
 'addr_state_TN',
 'addr_state_TX',
 'addr_state_UT',
 'addr_state_VA',
 'addr_state_VT',
 'addr_state_WA',
 'addr_state_WI',
 'addr_state_WV',
 'addr_state_WY',
 'initial_list_status_w',
 'application_type_JOINT']

In [37]:
#final_data.drop('home_ownership_MORTGAGE',axis=1,inplace=True)
final_data.shape
final_data.insert(loc = 32,
          column = 'home_ownership_MORTGAGE',
          value = 0)
final_data.shape

(354951, 105)

In [38]:
joblib_file = "xgb_joblib_model.pkl"
joblib_model = joblib.load(joblib_file)
y_pred1 = joblib_model.predict(final_data)

In [39]:
y_pred1
temp_memberid

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

In [41]:
dataset = pd.DataFrame({'member_id': temp_memberid, 'loan_status': y_pred1}, columns=['member_id', 'loan_status'])
dataset.to_excel('submit_dataset.xlsx')

In [ ]:

# Save to file in the current working directory
joblib_file = "xgb_joblib_model.pkl"
joblib.dump(xgb_clf, joblib_file)

# Load from file
joblib_model = joblib.load(joblib_file)
y_pred1 = joblib_model.predict(X_test)